<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.friend.mapper">
	
		
	<update id="friendAddSend"  >
		INSERT INTO 
		FRIEND (F_MY_ID,F_YOU_ID,F_STATE_CD,F_REG_ID,F_REG_DATE,F_MOD_ID) 
		VALUES (#{fMyId}, #{fYouId},'10502',#{fMyId},NOW(),'')
	</update>
	
	<update id="friendAddReceive"  >
		INSERT INTO 
		FRIEND (F_MY_ID,F_YOU_ID,F_STATE_CD,F_REG_ID,F_REG_DATE,F_MOD_ID) 
		VALUES (#{fYouId}, #{fMyId},'10503',#{fMyId},NOW(),'')
	</update>
	
	<select id="selectFriendList" resultType="base.friend.vo.FriendVO">
		
		SELECT F.F_YOU_ID as fYouId
			  ,GL.GL_RANK as glRank
			  ,GL.GL_SUMMONER as glSummoner
			  ,GL.GL_CHAMPION as glChampion
	  		  ,B.FL_UNIQUE_NAME as ProfileImgUrl
	  		  ,U.U_NICKNAME AS appNick
		 FROM FRIEND F
		 LEFT JOIN GAME_LOL GL ON (F.F_YOU_ID = GL.GL_NICK)
  		 LEFT JOIN FILE B ON (F.F_YOU_ID = B.FL_TABLE_KEY)
  		 LEFT JOIN USER U ON (F.F_YOU_ID = U.U_INTG_ID)
		WHERE F_MY_ID = #{fMyId}
		AND F_STATE_CD = '10501'
		<if test="keyWord != null and !keyWord.equals('')">
			AND F_YOU_ID LIKE CONCAT('%',#{keyWord},'%')
		</if>
	</select>
	
	<select id="selectUserFriendState" resultType="base.friend.vo.FriendVO">
		
			SELECT F_MY_ID AS fMyId,
					F_YOU_ID AS fYouId,
					F_STATE_CD AS fStateCd,
					F_REG_ID AS fRegId,
					F_REG_DATE AS fRegDate,
					F_MOD_ID AS fModId,
					F_MOD_DATE AS fModDate 
			FROM FRIEND 
			WHERE F_MY_ID = #{fMyId}
			AND F_YOU_ID = #{fYouId}
		
	</select>

	
	<select id="selectFriendNum" resultType="java.lang.Integer">
		
		SELECT COUNT(F_YOU_ID)
		FROM FRIEND
		WHERE F_MY_ID = #{myNick}
		AND F_STATE_CD = '10501'
		
	</select>
	
	
	<update id="addFriendAccept" parameterType="base.friend.vo.FriendVO" >

			UPDATE FRIEND SET
			F_STATE_CD = '10501'
			WHERE F_MY_ID = #{fMyId}
			AND F_YOU_ID = #{fYouId}
		
	</update>
	
	<update id="addFriendAcceptYou" parameterType="base.friend.vo.FriendVO" >

			UPDATE FRIEND SET
			F_STATE_CD = '10501'
			WHERE F_MY_ID =  #{fYouId}
			AND F_YOU_ID =#{fMyId}
		
	</update>
	
	<select id="friendCheck" parameterType="base.friend.vo.FriendVO" resultType="base.friend.vo.FriendVO"  >
		
			SELECT F_STATE_CD AS fStateCd FROM FRIEND 
			WHERE F_MY_ID = #{fMyId} 
			AND F_YOU_ID = #{fYouId}
		
	</select>		
	

	
</mapper>
