<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="code.mapper">
		
	<select id="selectCdDtlNm" resultType="common.vo.CodeVO">
		SELECT CD_DTL_NAME AS cdDtlName FROM CODE_DTL
			WHERE 1=1 
			AND CD_DTL_PARENT_ID = #{cdDtlParentId}
			AND CD_DTl_USE_YN = 'Y'
	</select>
	
	<select id="selectOptionList" resultType="common.vo.CodeVO">
			SELECT A.CD_DTL_NAME AS cdDtlName,
				   A.CD_DTL_ID AS cdDtlId,
				   A.CD_DTL_PARENT_ID AS cdDtlParentId,
				   A.CD_DTL_DESC AS cdDtlDesc,
					(
						SELECT FL_UNIQUE_NAME  FROM FILE WHERE FL_TABLE_KEY = A.CD_DTL_ID
					) AS url
			FROM CODE_DTL A
			WHERE A.CD_DTL_PARENT_ID = #{cdDtlParentId}
			AND A.CD_DTl_USE_YN = 'Y'
			<if test="params.length > 0"   >
			AND A.CD_DTL_ID NOT IN 
				<foreach item="params" index="index" collection="params" open="(" separator="," close=")">
		        	#{params}
				</foreach> 
			</if>
		
	</select>
	
	
</mapper>
