<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.chat.mapper">	
	<select id="selectChatList" resultType="customMap">
		SELECT B.CHA_SEQ,
    	       CASE WHEN A.CHA_TITL IS NULL
    	            THEN (SELECT GROUP_CONCAT(C.U_NICKNAME)
    	                    FROM CHAT_DTL BD
    	                    JOIN USER C ON BD.CHA_INTG_ID = C.U_INTG_ID
    	                   WHERE BD.CHA_SEQ = B.CHA_SEQ)
    	           ELSE A.CHA_TITL
    	       END AS CHA_TITL
    	FROM CHAT A
    	JOIN CHAT_DTL B ON A.CHA_SEQ = B.CHA_SEQ
    	WHERE B.CHA_INTG_ID = #{uIntgId}
    	GROUP BY B.CHA_SEQ, A.CHA_TITL
	</select>
	
	<insert id="insertChatRoom" parameterType="hashMap" useGeneratedKeys="true" keyProperty="chaSeq">
	  <selectKey order="BEFORE" keyProperty="chaSeq" resultType="String">
	    SELECT IFNULL(
	      (SELECT CONVERT(MAX(CHA_SEQ), INT) + 1
	       FROM CHAT
	       WHERE SUBSTR(CHA_SEQ, 1, 8) = CONVERT(DATE_FORMAT(CURDATE(), '%Y%m%d'), VARCHAR(8))
	       ),
	      CONCAT(DATE_FORMAT(CURDATE(), '%Y%m%d'), '0000001')
	    ) AS CHA_SEQ
	    FROM DUAL;
	  </selectKey>
	  
	  INSERT INTO CHAT (CHA_SEQ, CHA_TITL, CHA_REG_ID, CHA_REG_DATE, CHA_MOD_ID, CHA_MOD_DATE)
	  VALUES (#{chaSeq}, NULL, #{sender}, NOW(), #{sender}, NOW())
	</insert>
	
	<insert id="insertChatRoomDetail" parameterType="hashMap">
		INSERT INTO CHAT_DTL (CHA_SEQ, CHA_INTG_ID, CHA_TITLE, CHA_REG_ID, CHA_REG_DATE, CHA_MOD_ID, CHA_MOD_DATE)
		VALUES (
			#{chaSeq},
			#{chaIntgId},
			NULL,
			#{chaRegId},
			NOW(),
			#{chaModId},
			NOW()
		)
	</insert>
	
	<!-- 두명의 사용자가 대화중인 채팅방 id를 조회하는 쿼리 -->
	<select id="selectChatRoom" resultType="str">
		SELECT CHA_SEQ
		  FROM CHAT_DTL
		 WHERE CHA_INTG_ID IN
		 <foreach item="chatter" index="index" collection="chatters" open="(" separator="," close=")">
		        #{chatter}
		  </foreach> 
		 GROUP BY CHA_SEQ
		HAVING COUNT(DISTINCT CHA_INTG_ID) = #{size}
	</select>
	
	<!-- chatRoomId로 채팅방 참여자 조회하는쿼리 -->
	<select id="selectChatter" resultType="customMap">
		SELECT B.U_INTG_ID
		     , B.U_NICKNAME
		     , C.FL_UNIQUE_NAME AS PROFILE_IMG_URL
		  FROM CHAT_DTL A
		  JOIN USER B ON A.CHA_INTG_ID = B.U_INTG_ID
		  LEFT JOIN FILE C ON B.U_INTG_ID = C.FL_TABLE_KEY
		 WHERE A.CHA_SEQ = #{chatRoomId}
	</select>
	
	<select id="selectChatterCnt" resultType="int">
		SELECT COUNT(1)
		  FROM CHAT_DTL A
		  JOIN USER B ON A.CHA_INTG_ID = B.U_INTG_ID
		  LEFT JOIN FILE C ON B.U_INTG_ID = C.FL_TABLE_KEY
		 WHERE A.CHA_SEQ = #{chatRoomId}
	</select>
	
	<insert id="insertTmpMsg" parameterType="hashMap">
		INSERT INTO CHAT_TMP_MSG (CHA_SEQ, CHA_ID, CHA_SENDER, CHA_RECEIVER, CHA_MSG, CHA_REG_ID, CHA_REG_DATE, CHA_MOD_ID,  CHA_MOD_DATE)
		VALUES (
			#{chatRoomId},
			#{id},
			#{sender},
			#{receiver},
			#{msg},
			#{sender},
			NOW(),
			#{sender},
			NOW()
		)
	</insert>
	
	<select id="selectUnreadMsg" resultType="str">
		SELECT 
	        JSON_OBJECT(
	            '_id', A.CHA_ID,
	            'createdAt', A.CHA_REG_DATE,
	            'text', A.CHA_MSG,
	            'user', JSON_OBJECT(
	                '_id' , A.CHA_SENDER,
	            	'user' ,
	            	JSON_OBJECT(
	                '_id', A.CHA_SENDER,
	                'avatar', B.FL_UNIQUE_NAME,
	                'name', C.U_NICKNAME
	                )
	            )
	        ) AS json_data
		FROM CHAT_TMP_MSG A
		LEFT JOIN FILE B ON (A.CHA_SENDER = B.FL_TABLE_KEY)
		JOIN USER C ON A.CHA_SENDER = C.U_INTG_ID
		WHERE A.CHA_RECEIVER = #{receiver}
		  AND A.CHA_SEQ = #{chatRoomId}
		ORDER BY A.CHA_REG_DATE DESC
	</select>
	
	<delete id="deleteTmpMsg" parameterType="hashMap">
		DELETE FROM CHAT_TMP_MSG
		 WHERE CHA_SEQ = #{chatRoomId}
		   AND CHA_RECEIVER = #{receiver}
	</delete>
</mapper>
