<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.admin.mapper">
	
	<select id="getUserList" resultType="base.admin.vo.UserVO">
		SELECT U_INTG_ID
			  ,U_NAME
			  ,U_PASS
			  ,U_NICKNAME
			  ,U_REG_DATE
			  ,U_LAST_LOGIN_IP
			  ,U_LAST_LOGIN_DTTM
			  ,U_LAST_TERMINAL_KIND
			  ,U_LOGIN_CATE
			  ,U_STATE_CD
			  ,U_GG_ID
			  ,U_REG_ID
			  ,U_MOD_ID
			  ,U_MOD_DATE
		  FROM USER
	</select>
	
	<select id="getUserInfo" resultType="base.admin.vo.UserVO">
		SELECT U_INTG_ID
			  ,U_NAME
			  ,U_PASS
			  ,U_NACKNAME
			  ,U_REG_DATE
			  ,U_LLAST_LOGIN_IP
			  ,U_LAST_LOGIN_DTTM
			  ,U_LAST_TERMINAL_KIND
			  ,U_LOGIN_CATE
			  ,U_STATE_CD
			  ,U_GG_ID
			  ,U_REG_ID
			  ,U_MOD_ID
			  ,U_MOD_DATE
		  FROM USER
		  WHERE U_NACKNAME =#{myNick}
	</select>
	
	
</mapper>
