<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.admin.mapper">
	
	<select id="getUserList" resultType="base.admin.vo.UserVO">
		SELECT U_INTG_ID
			  ,U_NICKNAME
			  ,U_LAST_LOGIN_IP
			  ,U_LAST_LOGIN_DTTM
			  ,U_LAST_TERMINAL_KIND
			  ,U_LOGIN_CATE
			  ,U_STATE_CD
			  ,CD1.CD_DTL_NAME AS U_STATE_NM
			  ,U_TYPE_CD
			  ,CD2.CD_DTL_NAME AS U_TYPE_NM
			  ,U_REG_ID
			  ,U_REG_DATE
			  ,U_MOD_ID
			  ,U_MOD_DATE
		  FROM USER U
		  LEFT JOIN CODE_DTL CD1 ON(CD1.CD_DTL_PARENT_ID = 106 AND CD1.CD_DTL_ID = U.U_STATE_CD)
		  LEFT JOIN CODE_DTL CD2 ON(CD2.CD_DTL_PARENT_ID = 107 AND CD2.CD_DTL_ID = U.U_TYPE_CD)
		 ORDER BY U_LAST_LOGIN_DTTM DESC
	</select>
	
	<select id="getUserInfo" resultType="base.admin.vo.UserVO">
		SELECT U_INTG_ID
			  ,U_NICKNAME
			  ,U_LAST_LOGIN_IP
			  ,U_LAST_LOGIN_DTTM
			  ,U_LAST_TERMINAL_KIND
			  ,U_LOGIN_CATE
			  ,U_STATE_CD
			  ,CD1.CD_DTL_NAME AS U_STATE_NM
			  ,U_TYPE_CD
			  ,CD2.CD_DTL_NAME AS U_TYPE_NM
			  ,U_REG_ID
			  ,U_REG_DATE
			  ,U_MOD_ID
			  ,U_MOD_DATE
		  FROM USER
		  LEFT JOIN CODE_DTL CD1 ON(CD1.CD_DTL_PARENT_ID = 106 AND CD1.CD_DTL_ID = U.U_STATE_CD)
		  LEFT JOIN CODE_DTL CD2 ON(CD2.CD_DTL_PARENT_ID = 107 AND CD2.CD_DTL_ID = U.U_TYPE_CD)
		  WHERE U_NACKNAME =#{myNick}
	</select>
	
	
</mapper>
