<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.main.mapper">
	
	<select id="selectLikeTop5List" resultType="base.main.vo.MainVO">
		SELECT 
		YL_YOU_ID AS ylYouId 
		,CNT AS cnt
		,GL_SUMMONER AS glSymmoner
		,GL_RANK AS glRank
		,GL_CHAMPION AS glChampion
		,GL_POSITION AS glPosition
		,GL_TIME AS glTime
		,U_LOGIN_CATE AS uLoginCate
		,U_NICKNAME AS uNickname
		 FROM LIKE_TOP_FIVE
	</select>	
	
	<select id="selectLikeUser" resultType="java.lang.String">
		SELECT YL_STATE AS ylState
		 FROM YOU_LIKE 
		WHERE YL_YOU_ID = #{targetId}
		AND  YL_MY_ID = #{myId}
	</select>	
	
	<update id="likeTarget" >
			INSERT INTO YOU_LIKE 
			(
				YL_YOU_ID,
				YL_MY_ID,
				YL_STATE
			)
			VALUES 
			(
			#{targetId},
			#{myId},
			'Y'
			) 
			ON DUPLICATE KEY UPDATE YL_STATE = 		(SELECT A.RESULT 
																	FROM	(SELECT 
																			CASE WHEN YL_STATE = 'Y' THEN 'N' ELSE 'Y' END RESULT
																		FROM YOU_LIKE 
																		WHERE YL_YOU_ID = #{targetId}
																	AND  YL_MY_ID = #{myId}) A)
	</update>	
	
	
</mapper>
