<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.matching.mapper">

	<select id="selectHistoryList" resultType="base.matching.vo.MatchingHistoryVO">
		SELECT A.M_MATCHING_ID AS mMatchingID,
		       A.M_MY_ID AS mMyID,
		       A.M_USER_ID AS mUserID,
		       D.U_NICKNAME AS mMyNickname,
               C.U_NICKNAME AS mUserNickname,
		   	   A.M_GAME_TYPE AS mGameType,
		       A.M_MATCHING_SCORE AS mMatchingScore,
		       A.M_MATCHING_DATE AS mMatchingDate,
	           B.GL_RANK AS mUserRank,
	           B.GL_CHAMPION AS mUserChmpion,
	           B.GL_TIME AS mUserTime
	      FROM MATCHING A, GAME_LOL B, USER C, (SELECT U_NICKNAME
    							                  FROM USER
                                                 WHERE 1 = 1
                                                   AND U_INTG_ID = #{myID}) D
	     WHERE 1 = 1
	       AND A.M_MY_ID = #{myID}
	       AND A.M_USER_ID = B.GL_NICK
	       AND A.M_USER_ID = C.U_INTG_ID
	       AND ${where};
	</select>
	
	<select id="selectLatestDate" resultType="string">
		SELECT MAX(M_MATCHING_DATE) 
          FROM MATCHING
         WHERE 1=1
           AND M_MY_ID = #{myID};
	</select>
	
	<select id="selectPreviousLaterDate" resultType="string">
		SELECT CONCAT(IFNULL(A.previousDate, 'isNull'), '@', IFNULL(B.laterDate, 'isNull')) as PreviousLaterDate
          FROM (SELECT MAX(M_MATCHING_DATE) as previousDate FROM MATCHING WHERE M_MATCHING_DATE <![CDATA[<]]> #{baseDate} AND M_MY_ID = #{myID}) A,
               (SELECT MIN(M_MATCHING_DATE) as laterDate FROM MATCHING WHERE M_MATCHING_DATE <![CDATA[>]]> #{baseDate} AND M_MY_ID = #{myID}) B;
	</select>
	
	<select id="selectExceptList" resultType="base.matching.vo.MatchingHistoryVO">
				SELECT A.M_USER_ID AS mUserID
				FROM (
							SELECT M_USER_ID,
									COUNT(M_USER_ID) AS COUNT
							 FROM MATCHING 
							WHERE M_MY_ID = #{mMyID}
							AND M_MATCHING_DATE = NOW()
							GROUP BY M_USER_ID
						) A
				WHERE A.COUNT >3 

	</select>
	
	
	<insert id="insertMatchingHistory" parameterType="java.util.List" >
				INSERT INTO MATCHING
				(
				M_MATCHING_ID
				,M_MY_ID
				,M_USER_ID
				,M_GAME_TYPE
				,M_MATCHING_SCORE
				,M_MATCHING_DATE
				) 
				VALUES
		<foreach collection="list" item="item" separator="," close=";" open="" index="index">
				(
				(cast(#{item.chIndex} as unsigned)
				+#{index})
				,#{item.myId}
				,#{item.glNick}
				,#{item.gameType}
				,#{item.matchingScore}
				,NOW()
				)
		  </foreach>
	</insert>
	
	<select id="selectMatchingHistoryTableKey" resultType="string">

		SELECT MAX(M_MATCHING_ID) + 1 FROM MATCHING 
		
	</select>
	
</mapper>
