<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gameMatching.mapper">
	
	<select id="selectChampion" resultType="gameMatching.vo.GameVO">
		SELECT 
				A.CH_INDEX AS chIndex,
				A.CH_NAME AS  chName,
				A.CH_NAME_K AS chNameK,
				B.FL_UNIQUE_NAME AS url
		FROM CHAMPION A , FILE B
		WHERE A.CH_INDEX = B.FL_TABLE_KEY
	</select>
	
	<select id="selectSearchChampion" parameterType="String" resultType="gameMatching.vo.GameVO">
		SELECT 
				A.CH_INDEX AS chIndex,
				A.CH_NAME AS  chName,
				A.CH_NAME_K AS chNameK,
				B.FL_UNIQUE_NAME AS url
		FROM CHAMPION A , FILE B
		WHERE A.CH_INDEX = B.FL_TABLE_KEY 
		AND CH_NAME_K LIKE CONCAT('%',#{keyWord},'%')
	</select>
	
	<select id="selectSummonerlist" resultType="gameMatching.vo.GameVO">
		SELECT 
				GL_SUMMONER AS glSummoner,
				GL_SEQ AS glSeq
		FROM GAME_LOL
		WHERE 
		GL_SUMMONER IS NOT NULL
	</select>
	
	<select id="selectMostChampionlist" parameterType="java.util.List" resultType="java.lang.String">
		SELECT CH_NAME_K FROM CHAMPION
		WHERE CH_KEY IN 
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        	#{item}
    	</foreach>
	</select>
	
	<update id="updateUserGameInfo" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			<![CDATA[
			UPDATE GAME_LOL SET
					GL_RANK = #{item.glRank},
					GL_CHAMPION = #{item.glChampion},
					GL_POSITION = #{item.glPosition},
					GL_DATE = NOW()
			WHERE  GL_SEQ = #{item.glSeq}
			]]>
		</foreach>
	</update>
	
	<select id="selectGameOption" resultType="java.lang.String">
			SELECT 
			CD_DTL_NAME AS cdDtlName
			FROM CODE_DTL
			WHERE CD_DTL_PARENT_ID = '101'
	</select>
	
	<select id="selectUserlist" resultType="gameMatching.vo.GameVO">
			SELECT 	A.GL_SUMMONER AS glSummoner,
						A.GL_RANK AS glRank,
						A.GL_CHAMPION AS glChampion,
						A.GL_POSITION AS glPosition,
						A.GL_TIME AS glTime,
						A.GL_NICK AS glNick,
						B.U_NICKNAME AS appNick 		
						FROM GAME_LOL A , USER B
						WHERE A.GL_NICK = B.U_INTG_ID
	</select>
	
	<select id="selectRankList" resultType="java.lang.String">
			SELECT CD_DTL_NAME
			FROM CODE_DTL
			WHERE CD_DTL_PARENT_ID ='102'
			ORDER BY CD_DTL_ORDER
	</select>
	
	<select id="selectPositionList" resultType="java.lang.String">
			SELECT CD_DTL_NAME
			FROM CODE_DTL
			WHERE CD_DTL_PARENT_ID ='103'
	</select>
	
	<select id="selectTimeList" resultType="java.lang.String">
			SELECT CD_DTL_NAME
			FROM CODE_DTL
			WHERE CD_DTL_PARENT_ID ='104'
	</select>
	
	<select id="appIdCheckSummonerName" parameterType="java.lang.String" resultType="java.lang.Integer">
	
		SELECT COUNT(*) FROM GAME_LOL 
		WHERE GL_NICK = #{myId}
	</select>
	
</mapper>
