<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="gameMatching.mapper">
	
<!-- 	<resultMap type="academyinfo" id="academyinfoMap"> -->
<!-- 		<result property="id" column="id"/> -->
<!-- 		<result property="acaIpoImg" column="ACA_IPO_IMG"/> -->
<!-- 		<result property="acaIpoCeoName" column="ACA_IPO_CEO_NAME"/> -->
<!-- 		<result property="acaIpoName" column="ACA_IPO_NAME"/> -->
<!-- 		<result property="acaIpoAddress" column="ACA_IPO_ADDRESS"/> -->
<!-- 		<result property="acaIpoOnNumber" column="ACA_IPO_ON_NUMBER"/> -->
<!-- 		<result property="acaIpoPhone" column="ACA_IPO_PHONE"/> -->
<!-- 		<result property="acaIpoFax" column="ACA_IPO_FAX"/> -->
<!-- 		<result property="acaIpoCopy" column="ACA_IPO_COPY"/> -->
<!-- 	</resultMap> -->
	
	<select id="selectChampion" resultType="gameMatching.vo.GameVO">
		SELECT 
				A.CH_INDEX AS chIndex,
				A.CH_NAME AS  chName,
				A.CH_NAME_K AS chNameK,
				B.FL_UNIQUE_NAME AS url
		FROM CHAMPION A , FILE B
		WHERE A.CH_INDEX = B.FL_TABLE_KEY
	</select>
	
	<select id="selectSearchChampion" parameterType="String" resultType="gameMatching.vo.GameVO">
		SELECT 
				A.CH_INDEX AS chIndex,
				A.CH_NAME AS  chName,
				A.CH_NAME_K AS chNameK,
				B.FL_UNIQUE_NAME AS url
		FROM CHAMPION A , FILE B
		WHERE A.CH_INDEX = B.FL_TABLE_KEY 
		AND CH_NAME_K LIKE CONCAT('%',#{keyWord},'%')
	</select>
	
	<select id="selectSummonerlist" resultType="gameMatching.vo.GameVO">
		SELECT 
				GL_SUMMONER AS glSummoner,
				GL_SEQ AS glSeq
		FROM GAME_LOL
		WHERE 
		<!-- GL_NICK IN (
										SELECT 
												U_NICKNAME 
										FROM USER
										WHERE U_NICKNAME IS NOT NULL
						  )
		AND  -->
		GL_SUMMONER IS NOT NULL
	</select>
	
	<select id="selectMostChampionlist" parameterType="java.util.List" resultType="java.lang.String">
		SELECT CH_NAME_K FROM CHAMPION
		WHERE CH_KEY IN 
		<foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        	#{item}
    	</foreach>
	</select>
	
	<update id="updateUserGameInfo" parameterType="java.util.List" >
		<foreach collection="list" item="item" index="index" open="" close="" separator=";">
			<![CDATA[
			UPDATE GAME_LOL SET
					GL_RANK = #{item.glRank},
					GL_CHAMPION = #{item.glChampion},
					GL_POSITION = #{item.glPosition},
					GL_DATE = NOW()
			WHERE  GL_SEQ = #{item.glSeq}
			]]>
		</foreach>
	</update>
	
	<select id="selectGameOption" resultType="java.lang.String">
			SELECT 
			CD_DTL_NAME AS cdDtlName
			FROM CODE_DTL
			WHERE CD_DTL_PARENT_ID = '101'
	</select>
	
	<select id="selectUserlist" resultType="gameMatching.vo.GameVO">
			SELECT 	GL_SUMMONER as glSummoner,
					GL_RANK as glRank,
					GL_CHAMPION as glChampion,
					GL_POSITION as glPosition,
					GL_TIME as glTime,
					GL_NICK as glNick
			FROM GAME_LOL
	</select>
	
	<select id="selectRankList" resultType="java.lang.String">
			SELECT CD_DTL_NAME
			FROM CODE_DTL
			WHERE CD_DTL_PARENT_ID ='102'
	</select>
	
	<select id="selectPositionList" resultType="java.lang.String">
			SELECT CD_DTL_NAME
			FROM CODE_DTL
			WHERE CD_DTL_PARENT_ID ='103'
	</select>
	
	<select id="selectTimeList" resultType="java.lang.String">
			SELECT CD_DTL_NAME
			FROM CODE_DTL
			WHERE CD_DTL_PARENT_ID ='104'
	</select>
	
</mapper>
