<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="base.login.mapper">
	<select id="base.login.mapper.selectUserInfo" resultType="customMap" >
		SELECT A.U_INTG_ID
		     , A.U_NICKNAME
		     , A.U_LAST_LOGIN_IP
		     , DATE_FORMAT(A.U_LAST_LOGIN_DTTM, '%Y%m%d%H%i%s') as U_LAST_LOGIN_DTTM
		     , A.U_LAST_TERMINAL_KIND
		     , A.U_LOGIN_CATE
		     , A.U_STATE_CD
		     , A.U_TYPE_CD
		     , B.FL_UNIQUE_NAME as PROFILE_IMG_URL
		  FROM USER A
		  LEFT JOIN FILE B ON (A.U_INTG_ID = B.FL_TABLE_KEY)
		 WHERE U_INTG_ID = #{uIntgId}
	</select>
	
	<insert id="inserUserInfo">
		INSERT INTO USER
		(
		 U_INTG_ID,
		 U_NICKNAME,
		 U_LAST_LOGIN_IP,
		 U_LAST_LOGIN_DTTM,
		 U_LAST_TERMINAL_KIND,
		 U_LOGIN_CATE,
		 U_STATE_CD,
		 U_TYPE_CD,
		 U_REG_ID,
		 U_REG_DATE,
		 U_MOD_ID,
		 U_MOD_DATE
		)
		VALUES
		(
		 #{uIntgId},
		 NULL,
		 #{uLastLoginIp},
		 NOW(),
		 #{uLastTerminalKind},
		 NULL,
		 #{uStateCd},
		 #{uTypeCd},
		 'SYSTEM',
		 NOW(),
		 'SYSTEM',
		 NOW()
		)
	</insert>
	
	<update id="base.login.mapper.updateUserLoginInfo">
		UPDATE USER
		   SET U_LAST_LOGIN_IP = #{uLastLoginIp}
		     , U_LAST_LOGIN_DTTM = NOW()
		     , U_LAST_TERMINAL_KIND = #{uLastTerminalKind}
		     , U_MOD_ID = #{uIntgId}
		     , U_MOD_DATE = NOW()
		 WHERE U_INTG_ID = #{uIntgId}
	</update>
	
	<update id="base.login.mapper.updateUserNickName" >
		UPDATE USER
		   SET U_NICKNAME = #{uNickname}#
		     , U_MOD_ID = #{uIntgId}
		     , U_MOD_DATE = NOW()
		 WHERE U_INTG_ID = #{uIntgId}
	</update>
	
	
	<update id="base.login.mapper.updateUserDelete" >
		
				UPDATE USER SET 
				U_STATE_CD = '10604'
				, U_MOD_ID = #{myId}
		     	, U_MOD_DATE = NOW()			
				WHERE U_INTG_ID = #{myId}
	</update>
	

</mapper>
