<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="login.mapper">
	<select id="login.mapper.selectUserInfo" resultType="hashMap">
		SELECT U_INTG_ID
		     , U_NAME
		     , U_PASS
		     , U_NICKNAME
		     , U_LAST_LOGIN_IP
		     , DATE_FORMAT(U_LAST_LOGIN_DTTM, '%Y%m%d%H%i%s')
		     , U_LAST_TERMINAL_KIND
		     , U_LOGIN_CATE
		     , U_STATE_CD
		     , U_GG_ID
		  FROM USER
		 WHERE 1=1
		 <if test="uIntgId != null">
		 	AND U_INTG_ID = #{uIntgId}
		 </if>
		 <if test="uGgId != null">
		 	AND U_GG_ID = #{uGgId}
		 </if>
	</select>
	
</mapper>
